.container-page {
  border: 5px dotted yellow;
}


/* p {
    border: 1px solid yellow
}

#sound {
  border:2px dotted blue;
}


#button  {
  border:2px dotted green;
}

#button a {
  border:2px solid green;
} */

header {
  border: 2px solid rgb(0, 4, 255);
}

aside {

border: 4px dotted blue;


}


.container {
    border: 4px solid black;
  }
  
  .container-page-zone1 {
    border: 2.5px dotted yellowgreen;
    margin: 4px
  }
    .container-page-zone1 header {
        border: 3px dotted black;
    }
      .container-page-zone1 header h2 {
        border: 2px dotted rgb(82, 5, 224);
      }
  .container-page-zone2 {
    border: 2.5px dotted yellowgreen;
    margin: 4px
  }
    .container-page-zone2 header {
        border: 3px dotted black;
    }
      .container-page-zone2 header h2 {
        border: 2px dotted rgb(82, 5, 224);
      }

/* .navigation-top {
  border: 4px dotted white;
}

.navigation-flex {
  border: 2px dotted gray;
}

.navigation-top img {
  border: 2px dotted rgb(148, 18, 18);
}


.navigation-top span{
  border: 2px dotted rgb(141, 22, 22);
}

.top, .back, .front, .bottom, .left, .right {
  border: 5px dotted white;
}

.top {
  background-color: aquamarine;

}
.bottom {
  background-color: blue;
  

}
.right {
  

  background-color: blueviolet;
}
.left {

  
  background-color: brown;
}
.front {

  background-color: chartreuse;
}
.back {

background-color: chocolate;
} */

